<md-list ng-cloak data-ng-model="vm.items">
    <md-subheader class="md-no-sticky">Actionable Items</md-subheader>
    <md-list-item class="md-2-line" data-ng-repeat="item in vm.items">
        <div class="md-list-item-text">
            <h3>{{item.label}}</h3>
            <p>Hide when: </p>
            <md-list>
                <md-list-item>
                    Question 1
                    <md-switch class="md-secondary" ng-model="item.answer"></md-switch>
                </md-list-item>
            </md-list>

            <md-menu>
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    Add
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in [1, 2, 3]">
                        <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span> {{item}} </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-list-item>
</md-list>
<md-input-container class="md-block">
    <label>Enter new actionable item</label>
    <input ng-model="vm.newItem" type="text">
</md-input-container>
<md-button class="md-raised" ng-click="vm.AddNew()">Add</md-button>
