<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="mine">
                <md-content>
                    <h1 class="md-display-2">Assigned to me</h1>
                    <order-item ng-repeat="order in vm.orders | filter: {assignedToId: profile.$id}: true" order="order"></order-item>
                </md-content>
            </md-tab>
            <md-tab label="manager">
                <md-content>
                    <h1 class="md-display-2">All orders</h1>
                    <order-item ng-repeat="order in vm.orders | filter: {assignedToId: 'manager'}: true" order="order"></order-item>
                </md-content>
            </md-tab>
            <md-tab label="all">
                <md-content>
                    <h1 class="md-display-2">All orders</h1>
                    <order-item ng-repeat="order in vm.orders" order="order"></order-item>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>