<section layout="column" layout-align="center center" layout-wrap>
    <h1>Sign in</h1>

    <md-button class="md-raised" ng-click="signInWithProvider('google')" type="button">
        Google
    </md-button>
    <md-button class="md-raised" ng-click="signInWithProvider('facebook')" type="button">
        Facebook
    </md-button>
    <md-button class="md-raised" ng-click="signInWithProvider('twitter')" type="button">
        Twitter
    </md-button>
    <md-button class="md-raised" ng-click="signInAsGuest()" type="button">
        Guest
    </md-button>
    <md-button class="md-raised" ng-click="callPhone()" type="button">
        <md-icon class="step md-font-icon-phone material-icons">phone</md-icon> Call
    </md-button>
    <md-button class="md-raised" ng-click="sendSms()" type="button">
        <md-icon class="icon material-icons">message</md-icon> SMS
    </md-button>

    <p ng-show="err" class="error">{{err}}</p>
</section>